DATABASE_URL=postgresql://...pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://...pooler.supabase.com:5432/postgres
PORT=port_number
NODE_ENV=your_app_environment
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=expire_time
UPSTASH_REDIS_URL=rediss://default:xxxxx@xxxxx.upstash.io:6379